./vscode
./app/__pycache__
./venv
__pycache__
*/__pycache__/*
./logs/nginx/error.log
!./logs/nginx/error.log
./logs/nginx/access.log
!./logs/nginx/access.log
./logs/fastapi/error.log
!.logs/fastapi/error.log
./logs/fastapi/access.log
!.logs/fastapi/access.log